

<div class="icon-bar mt-3">
    <%= link_to '/islands?category=Accomodates%20Spaceships' do %>
      <i class="fa-solid fa-rocket"></i><br>Accomodates<br>Spaceships
    <% end %>

    <%= link_to '/islands?category=Dragon%20Friendly' do %>
      <i class="fa-solid fa-dragon"></i><br>Dragon<br>Friendly
    <% end %>

    <%= link_to '/islands?category=Local%20Wizard' do %>
      <i class="fa-solid fa-hat-wizard"></i><br>Local<br>Wizard
    <% end %>

    <%= link_to '/islands?category=Local%20Cablecar' do %>
      <i class="fa-solid fa-cable-car"></i><br>Local<br>Cablecar
    <% end %>

    <%= link_to '/islands?category=Secret%20Lair' do %>
      <i class="fa-solid fa-door-open"></i><br>Secret<br>Lair
    <% end %>

    <%= link_to '/islands?category=Secret%20Lair' do %>
      <i class="fa-solid fa-sun"></i><br>Sunshie<br>Guaranteed</a>
    <% end %>

    <%= link_to '/islands?category=Secret%20Lair' do %>
      <i class="fa-solid fa-staff-snake"></i></i><br>Witch<br>Doctor</a>
    <% end %>

    <%= link_to '/islands?category=Secret%20Lair' do %>
      <i class="fa-solid fa-person-skiing"></i></i><br>Ski<br>Resort</a>
    <% end %>

    <%= link_to '/islands?category=Secret%20Lair' do %>
      <i class="fa-solid fa-snowflake"></i></i><br>Ice<br>Caves</a>
    <% end %>
  </div>
