
<%= simple_form_for [island, booking] do |f| %>
  <div class="booking-form">
    <h3 class="mt-5">Booking form</h3>
    <%= f.input :start_date,
              as: :string,
              input_html: { class: 'm-3 w-100', data: { controller: "datepicker" } } %>
    <%= f.input :end_date,
              as: :string,
              input_html: { class: 'm-3 w-100', data: { controller: "datepicker" } } %>
    <%= f.label :guests %>
    <%= f.input :guests, input_html: {class: "form-control form-control-sm m-3 w-25"},class:"form-control", label: false, placeholder: "3" %>
    <% if current_user %>
      <%= f.submit class: "btn booking-btn m-3" %>
    <% else %>
      <%= link_to 'Log In to Book!', new_user_session_path, class: 'btn btn-danger m-3' %>
    <% end %>
  </div>
<% end %>
