


<%# <h1>Show page</h1>
<%= @island.name %>
<%# <%= @island.location %>
<%# <%= @island.price %>
<%# <%= @island.available %>
<%# <%= @island.description %>

<%# TODO: %>
<%# - Make image Card
- Make details Card
- Make booking form Card
- Make reviews Card
- Make reviews form card %>

<div class="island-card container justify-content-center">

<div class="row">
  <div class="col-md-12 mb-4 img-card">
    <%# Image Card! %>
    <%# <h3>Image carousel here:</h3> %>

    <h1 class="mb-3"><%=@island.name%>, <%= @island.location %></h1>
    <p><u><%= @island.reviews.count %> reviews</u></p>
    <%# REMINDER: I THINK IT WOULD BE NICE AT SOME POINT TO INCLUDE AVERAGE RATING SCORE %>
    <%# <%=review.rating%>

      <%# Card content %>
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active c-item">
          <img src="https://images.unsplash.com/photo-1502085671122-2d218cd434e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1226&q=80" class="d-block w-100 c-img" alt="...">
        </div>
        <div class="carousel-item c-item">
          <img src="https://images.unsplash.com/photo-1553603227-2358aabe821e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80" class="d-block w-100 c-img" alt="...">
        </div>
        <div class="carousel-item c-item">
          <img src="https://images.unsplash.com/photo-1551611342-768da0d7fed2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 c-img" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>

  </div>
</div>

<div class="row mb-3 gx-5 mt-4">
  <div class="col-md-6 mb-4 details-card">
    <%# Details Card!  %>
      <h3>Details</h3>
    <div class="rounded p-3">
      <%# Card content %>
      <div class="island-details border-top mb-3">
        <div><i class="fa-solid fa-earth-americas p-2"></i><%= @island.name %></div>
        <div><i class="fa-solid fa-location-dot p-2"></i><%= @island.location %></div>
        <div><i class="fa-solid fa-credit-card p-2"></i>£<%= @island.price %></div>
        <div class="border-top mt-3 mb-3"><i class="fa-solid fa-circle-info p-2"></i></div>
        <div class="p-2 fs-6 island-description"><%= @island.description %></div>
        <div class="border-bottom mb-3 fs-6 p-2"><u>Show more</u> &gt;</div>
      </div>
    </div>
  </div>

  <div class="col-md-6 mb-4 booking-form">
    <%# Booking Form! %>
      <h3>Booking form</h3>
    <div>
      <%# Form content %>
      <%= render partial: "islands/form_booking", locals: {booking: @booking, island: @island} %>
    </div>
  </div>
</div>

  <div class="row mb-3 gx-5 d-flex justify-content-center">
    <div class="col-md-6 mb-4 add-review-form">
      <%# Review Form! %>
      <div class="">
        <h3>Review form</h3>
        <%# Form content %>
        <%= render 'reviews/new_review'%>
      </div>
    </div>
  </div>


  <div class="row mb-3 gx-5 border-top border-2">
    <div class="col-md-6 mb-4 reviews-card w-100">
        <br>
        <div class="mt-4 mb-4"><h4><i class="fa-solid fa-star p-2"></i> <%=@island.reviews.count%> Reviews</h4></div>
      <%# Reviews Card! %>
      <div>
        <%# Reviews content %>
        <div class="row justify-content-center g-5 reviews-row">
          <% @island.reviews.each do |review| %>
            <div class="col-md-4 text-center review-card">
              <p><%= review.content %></p>
              <p><%= '⭐' * review.rating %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>


  <div class="footer mt-5">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
