<h1>Show page</h1>
<%= @island.name %>
<%= @island.location %>
<%= @island.price %>
<%= @island.available %>
<%= @island.description %>

<% @island.reviews.each do |review| %>
<p><%= review.content %></p>
<p><%= 'â­' * review.rating %></p>
<% end %>

<%= render 'reviews/new_review'%>
