<%# TODO %>
<%# - Continue customising review cards %>
<%# - Add category icons to show page %>
<%# - Once added, we need to have it so ONLY the icons  %>
<%# - That fit for the island show up %>



<div class="island-card container justify-content-center">


<div class="row">
  <div class="col-md-12 mb-4 img-card">
    <%# Image Card! %>
    <%# <h3>Image carousel here:</h3> %>


  <h1 data-controller="typed" data-typed-sentences-value="<%= [@island.name].to_json %>">
  </h1>
  <h2 class="text-center" data-controller="typed" data-typed-sentences-value="<%= [@island.location].to_json %>"></h2>


    <%# EDIT AND DELETE BUTTONS FOR ISLAND HOST %>
    <% if current_user == @island.host %>
      <div class="show-page-btns d-flex justify-content-end gap-3">
        <div class="btn edit-btn"><%= link_to "Edit #{@island.name}", edit_island_path, class:"text-light" %></div>
      </div>
    <%end%>

    <p>⭐
    <%=
        if @island.reviews.count > 0
          total_rating = @island.reviews.sum(:rating)
          average_rating = (total_rating.to_f / @island.reviews.count).round(1)
        else
          ''
        end
      %>
      · <u><%= @island.reviews.count %> reviews</u>
    </p>


      <%# Card content %>
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active c-item">
          <img src="https://images.unsplash.com/photo-1502085671122-2d218cd434e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1226&q=80" class="d-block w-100 c-img" alt="...">
        </div>
        <div class="carousel-item c-item">
          <img src="https://images.unsplash.com/photo-1553603227-2358aabe821e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80" class="d-block w-100 c-img" alt="...">
        </div>
        <div class="carousel-item c-item">
          <img src="https://images.unsplash.com/photo-1551611342-768da0d7fed2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 c-img" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>

  </div>
</div>

<div class="row mb-3 gx-5 mt-4">
  <div class="col-md-6 mb-4 details-card">
    <%# Details Card!  %>
      <h3>Details</h3>
      <%# CATEGORIES ICONS GO HERE %>
    <div class="d-flex justify-content-end show-categories">
      <i class="fa-solid fa-rocket fs-2 me-2"></i>
      <i class="fa-solid fa-dragon fs-2 me-2"></i>
      <i class="fa-solid fa-hat-wizard fs-2 me-2"></i>
      <i class="fa-solid fa-cable-car fs-2"></i>
    </div>


    <div class="rounded p-3">
      <%# Card content %>
      <div class="island-details border-top mb-3">
        <div><i class="fa-solid fa-earth-americas p-2"></i><%= @island.name %></div>
        <div><i class="fa-solid fa-location-dot p-2"></i><%= @island.location %></div>
        <div><i class="fa-solid fa-credit-card p-2"></i>£<%= @island.price.round(2) %></div>
        <div class="border-top mt-3 mb-3"><i class="fa-solid fa-circle-info p-2"></i></div>
        <div class="p-2 fs-5 island-description"><%= @island.description %></div>
        <div class="mb-3 fs-6 p-2"><u>Show more</u> &gt;</div>
      </div>
    </div>
  </div>


  <div class="col-md-6 mb-4">
    <%# Booking Form! %>
    <div>
      <%# Form content %>
      <%= render partial: "islands/form_booking", locals: {booking: @booking, island: @island} %>
    </div>
  </div>

</div>

<% if current_user && !current_user.bookings.where(island_id: @island.id).empty? %>
  <div class="row mb-3 gx-5 d-flex justify-content-start">
    <div class="col-md-6 mb-4 add-review-form">
      <%# Review Form! %>
      <div class="">
        <%# <h3>Review form</h3> %>
        <div class="mb-4 border-top border-2"></div>
        <h3 class="m-3">How was your trip to <strong><%= @island.name %>?</strong> </h3>
        <p class="m-3">We value <u>your</u> feedback!</p>
        <%# Form content %>
        <%= render 'reviews/new_review'%>
      </div>
    </div>
  </div>
<% end %>



  <div class="row mb-3 gx-5 border-top border-2">
    <div class="col-md-6 mb-4 reviews-card w-100">
        <br>
        <div class="mt-4 mb-4"><h4><i class="fa-solid fa-star p-2"></i><%= average_rating %> - <%=@island.reviews.count%> Reviews</h4></div>
      <%# Reviews Card! %>
      <div>
        <%# Reviews content %>
        <div class="row justify-content-center g-5 reviews-row">
          <% @island.reviews.each do |review| %>
            <div class="col-md-4 text-center review-card">
              <p><img class="avatar d-flex justify-content-start" alt="avatar"
                src="https://media.istockphoto.com/id/1298261537/vector/blank-man-profile-head-icon-placeholder.jpg?s=612x612&w=0&k=20&c=CeT1RVWZzQDay4t54ookMaFsdi7ZHVFg2Y5v7hxigCA="
              /></p>
              <i class="fa-solid fa-quote-left"></i>
              <p class="fs-6"><em><%= review.content %></em></p>
              <p><%= '⭐' * review.rating %></p>
              <% if review.rating >= 1 && review.rating <= 2 %>
                <p class="fs-2 d-flex justify-content-end rating-emoji">🙁</p>
              <% elsif review.rating >= 3 && review.rating <= 4 %>
                <p class="fs-2 d-flex justify-content-end rating-emoji">🙂</p>
              <% elsif review.rating == 5 %>
                <p class="fs-2 d-flex justify-content-end rating-emoji">😁</p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5 mb-5">
    <div class="btn btn-danger delete-btn"><%= link_to "Delete #{@island.name}", island_path, class:"text-light", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@island.name}?"}%></div>
  </div>


</div>
