
<div id="container">

  <div class="header full-width">
    <%= video_tag("landing_video.mp4", autoplay: true, muted: true, class: "landing-video") %>
    <div class="header-text">
      <h1 class="island-hub" style="font-size:50px">The Island Hub</h1>
      <h2 style="font-size:24px">Making dreams of a private islands holiday a reality</h2>
      <a href="/islands" class="default-button mt-3" id="main">Book Your Private Island Getaway</a>
    </div>
  </div>

  <div class="top-islands mt-3">
    <div class="top-picks">
      <h2>This Week's Top Picks</h2>
    </div>
      <a href="/islands" class="default-button">See All</a>
  </div>


  <div class="grid-container mt-3" id="landing-page">
    <% carousel = 0 %>
    <% @islands.each do |island| %>
      <a href="islands/<%=island.id%>" class='card'>

        <div id="island-card-carousel-<%=carousel_id = carousel += 1 %>" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner islands">

            <div class="carousel-item island active">
                <img src="<%= cl_image_path island.photos[0].key %>" class="d-block" alt="island-1">
            </div>
            <div class="carousel-item island">
              <img src="<%= cl_image_path island.photos[1].key %>" class="d-block" alt="island-2">
            </div>
            <div class="carousel-item island">
              <img src="<%= cl_image_path island.photos[2].key %>" class="d-block" alt="island-3">
            </div>

            <div class="carousel-control-prev" href="#island-card-carousel-<%= carousel_id %>" role="button"  data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </div>

            <div class="carousel-control-next" href="#island-card-carousel-<%= carousel_id%>" role="button"  data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </div>

          </div>
        </div>

        <div class="container pt-3">
          <h4><b><%= island.name %></b></h4>
          <p>£<%= island.price.to_i %> p/n</p>
        </div>

      </a>
    <% end %>
  </div>
</div>
